<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACION</title>
</head>
<body>
    <h1><% publicacion.datos.titulo %></h1>
    <img  src="<%= publicacion.datos.imagen %>">
    <h3><% publicacion.datos.localizacion %></h3>
    <p><% publicacion.datos.descripcion %></p>
    
</body>
</html>